<%#siendo la vista mas cercana para responder%>
<tr>
    <td><%= @company.name %></td>
    <td><%= link_to 'Show', @company %></td>
    <td><%= link_to 'Edit', edit_company_path(@company), data: {remote: true} %></td>
    <td><%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?', remote: true } %></td>
</tr>